{% extends 'base.html' %}


{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h1>About Us</h1>
            <br>
            <p>
                Bird watch is a full-stack web application that tracks the user’s location and shows nearby bird sightings, displaying areas that are more popular for particular sightings. Users may search from thousands of species through the eBird API with dynamically generated personalized pages for each bird displaying photos from the Flickr API anywhere around the world. Seen birds can be tracked and added as a favorite for future reference. 
            </p>

        </div>
    </div>
</div>


{% endblock %}
