{% extends 'base.html' %}
{% block head %}<link rel="shortcut icon" href="/favicon.ico" />{% endblock %}

{% block title %}Bird Page{% endblock %}

{% block content %}

<h1>Bird Details</h1>
<h2>{{ bird.comName }}</h2>
<p id='desc'>{{ bird.comName }}'s scientific name is {{ bird.sciName }}!</p>

{% if bird_photo %}
  <img class='cont-rounded' src={{ bird_photo[0] }}></img>
  <img class='cont-rounded' src={{ bird_photo[1] }}></img>
  <br>
  <img class='cont-rounded' src={{ bird_photo[2] }}></img>
  <img class='cont-rounded' src={{ bird_photo[3] }}></img>
{% else %}

  <img src="https://i.pinimg.com/originals/94/78/b5/9478b558a1136e2f9958b458ea2e6dd8.jpg"></img>
{% endif %}


<br>
<button id='faveOnOff' class='fave-text' data-com-name="{{ bird.comName }}" data-sci-name="{{ bird.sciName }}" data-species-code="{{ bird.speciesCode }}">
{% if favorite %}
  Unfavorite
{% else %}
  Favorite
{% endif %}
</button>
<br>
<br>
{% if xc_url %}
<a href='{{ xc_url }}'>
Click here for this bird's song clip <img class='small-icon' src='/static/audio_icon.png'></img></a>
{% else %}
There is no audio clip for this bird!
{% endif %}
<br>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
  "use strict";


// check database if fave exists
var faveButton = document.querySelector('#faveOnOff');

function showResult(result) {
  console.log(result);
}

function addRemoveFave(evt) {
  console.log('I pressed the button');

  let data = $('#faveOnOff').data();
  let text = faveButton.innerHTML.trim()

  if (text === 'Favorite') {

    console.log("BUTTON SAID FAVORITE BEFORE CLICC")
    faveButton.innerHTML = 'Unfavorite';
    $.post('/add_fave',
      data, 
      showResult);
  }
  else {

    console.log("BUTTON SAID UNFAVORITE BEFORE CLICC")
    faveButton.innerHTML = 'Favorite';
    $.post('/remove_fave', 
      data,
      showResult);
  }
}


faveButton.addEventListener('click', addRemoveFave);

</script>

{% endblock %}