{% extends 'base.html' %}
{% block head %}<link rel="shortcut icon" href="/favicon.ico" />{% endblock %}

{% block title %}Bird Page{% endblock %}

{% block content %}

<h1>Bird Details</h1>

<img src="https://i.pinimg.com/originals/94/78/b5/9478b558a1136e2f9958b458ea2e6dd8.jpg"></img>


<h2>{{ bird.common_name }}</h2>

<button id='faveOnOff' class='faveText' onclick='faveUnfave()'>Favorite</button>


<p>{{ bird.common_name }}'s scientific name is {{ bird.scientific_name }}</p>

<b>Bird info:</b> <span id='birdInfo'>Unknown</span>


<p>Bird song clip (if it exists):</p>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
  "use strict";




  // let faveOrUnfave = {
  //   ''
  // }

function faveUnfave() {
  $.post('/favorite/{{ bird.bird_id }}', addRemoveFave);


}

// check database if fave exists

function addRemoveFave() {
  
  var faveButton = document.querySelector('#faveOnOff');
  // var bird_id = {{ bird.bird_id }};
  console.log('testTEST TESTTTTTESTTSTST**');

  if (faveButton.innerHTML === 'Favorite') {
    faveButton.innerHTML = 'Unfavorite';
    // set this to a specific input
  }
  else {
    faveButton.innerHTML = 'Favorite';
  }
}

faveButton.addEventListener('click', faveUnfave);
// faveButton.addEventListener('click', faveUnfave);
// $('#faveOnOff').on('click', faveUnfave);


</script>

{% endblock %}