{% extends 'base.html' %}
{% block head %}<link rel="shortcut icon" href="/favicon.ico" />{% endblock %}

{% block title %}Bird Page{% endblock %}

{% block content %}

<h1 class='title-top-bp'>Bird Details: {{ bird.comName }}
{% if favorite %}
  <img class='med-icon' src='/static/heart_icon.png'>
{% else %}
{% endif %}
</h1>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        {% if bird_photo %}
        <div class="col-md-3">
          <img class='cont-rounded-left' src={{ bird_photo[0] }}></img><br><br>
          <img class='cont-rounded-right' src={{ bird_photo[1] }}></img>
        </div>
        <div class="col-md-3">
          <img class='cont-rounded-left' src={{ bird_photo[2] }}></img><br><br>
          <img class='cont-rounded-right' src={{ bird_photo[3] }}></img>
        </div>
        {% else %}
        <div class="col-md-3">
            <img src="/static/bird_thumb.jpg"></img>
        </div>  
        {% endif %}
        <div class="col-md-6">
          <p id='desc'>The {{ bird.comName }}'s scientific name is {{ bird.sciName }}.</p>
          <br>
          {% if xc_url %}
          <a href='{{ xc_url }}'>
          Click here to listen this bird's song clip: <img class='small-icon' src='/static/audio_icon.png'></img></a>
          {% else %}
          There is no audio clip for this bird from Xeno-Canto's API.
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<button id='faveOnOff' class="sub-btn" data-com-name="{{ bird.comName }}" data-sci-name="{{ bird.sciName }}" data-species-code="{{ bird.speciesCode }}">
{% if favorite %}
  Unfavorite
{% else %}
  Favorite
{% endif %}
</button>

<br>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
  "use strict";

function refreshPage() {
  window.location.reload();
}

// check database if fave exists


// function showResult(result) {
//   console.log(result);
// }

var faveButton = document.querySelector('#faveOnOff');

function addRemoveFave(evt) {
  console.log('I pressed the button');

  let data = $('#faveOnOff').data();
  let text = faveButton.innerHTML.trim()

  if (text === 'Favorite') {

    console.log("BUTTON SAID FAVORITE BEFORE CLICC")
    faveButton.innerHTML = 'Unfavorite';
    $.post('/add_fave',
      data, 
      refreshPage);
  }
  else {

    console.log("BUTTON SAID UNFAVORITE BEFORE CLICC")
    faveButton.innerHTML = 'Favorite';
    $.post('/remove_fave', 
      data,
      refreshPage);
  }
}


faveButton.addEventListener('click', addRemoveFave);

</script>

{% endblock %}