{% extends 'base.html' %}

{% block content %}
<h2>Forgot password?</h2>

<h3>Reset your password here:</h3>
</br>
<form action='/forgot_password' method='POST'>

    E-mail:
    <br>
    <input type='password' name='upd_pw'>
    <br>
    <br>
    Password:
    <br>
    <input type='password' name='upd_pw'>
    <br>
    <br>
    New Password:
    <br>
    <input type='password' name='upd_pw'>
    <br>
    Confirm New Password:
    <br>
    <input type='password' name='upd_pw2'>   
    <br>
    <br>
    <input type="submit" value="Submit" class="update-forgot-pw">
<form>


{% endblock %}
