{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">

                    <h2>Forgot password?</h2>

                    <h5>Reset your password here:</h5>
                    </br>
                    <form action='/forgot_password' method='POST'>

                        <div class='form-text'>Username:</div>
                        <input type='password' name='forgot-pw-username'>
                        <br>
                        <br>
                        <br>
                        <div class='form-text'>New Password:</div>
                        <input type='password' name='upd-pw'>
                        <br>
                        <div class='form-text'>Confirm New Password:</div>
                        <input type='password' name='upd-pw2'>   
                        <br>
                        <br>
                        <input type="submit" value="Submit" class="sub-btn">
                    <form>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
