{% extends 'base.html' %}

{% block content %}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Login Form</h1>
            <br>
            <form action='/login' method='POST'>

                Enter Username: <input type='text' name='login_id'>
                <br>
                Enter Password: <input type='password' name='password'>
                <br>
                <input class='sub-btn' type='submit'>
                <br>
                <br>    
                <a href="/forgot_password" style="font-size: 14px;"><i>Forgot password? Reset it here!</i></a>  
            </form>

        </div>
    </div>
</div>

{% endblock %}