{% extends 'base.html' %}

{% block title %}User Feed{% endblock %}

{% block content %}


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h1>My Info</h1>
          <h2 class='user-id-mp'>User ID: {{ user.user_id }}</h2>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          {% if user.image_name %}

            <img class="user-pic" src="/static/user_pics/{{user.image_name}}"></img>
            <p id='small-font'>Suggested image size:
            <br>200 x 200 px</p>

          {% else %}

            <img class="user-pic" src="/static/user_pics/generic_silhouette.png"></img>

          {% endif %} 

          <form action="/upload" method="POST" enctype="multipart/form-data">
            <span class="btn btn-default btn-file">
              Browse: <input type="file" name="upload-image">
            </span>
            <br>
            <input type="submit" value="Submit" class="sub-btn">
          </form>
        </div>
        <div class="col-md-3">
          <br>
          <text class='mp-ital'><b>First Name:</b></text> {{ user.fname }} 
          <br>    
          <text class='mp-ital'><b>Last Name:</b></text> {{ user.lname }} 
          <br>
          <text class='mp-ital'><b>Email:</b></text> {{ user.email }}
          <form action="/user_settings">
        </div>
        <div class="col-md-6">
          {% if user.description %}
          <br>
          <b>User Description:</b><br>
            {{ user.description }}
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {% if user.favorites %}

          <p id='mp-fave-label'>{{ user.fname }}'s Favorites!</p>
          <br>
          <div style="display: flex; flex-direction: column;">
            <div style="display: flex; flex-flow: row wrap;">
              {% for favorite in user.favorites %}

              <div class="card" style="width: 15em;">
                <img class='display-bird-pic' src={{ favorite.bird.image }}></img>
                <div class="card-body">
                  <h5 class="card-title">{{ favorite.bird.common_name }} 
                    <input type="checkbox" class="checkbox" name="remove_bird" data-com-name="{{ favorite.bird.common_name }}" data-sci-name="{{ favorite.bird.scientific_name }}" data-species-code="{{ favorite.bird.species_code }}">
                  </h5>

                </div>
              </div>

              {% endfor %}
            <br>
          </div>
          <button id="delFave" class="sub-btn" style="width: 80px;">Remove</button>
              
          {% else %}
              <br>
              You have not added any favorites yet!
          {% endif %}
              </div>
              
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
  "use strict";

function refreshPage() {
  window.location.reload();
}

function removeFaves(evt) {
  evt.preventDefault();
  console.log("I pressed the 'remove' button")
  // send info: bird id and user id - to remove row from faves

  // for any values that are checked... 
  let checkboxes = $('input[name="remove_bird"]:checked');
  let speciesCodes = checkboxes.map(function(index, checkbox) {
    return checkbox.dataset.speciesCode;
  });
  
  speciesCodes = speciesCodes.toArray();
  let data = {
    speciesCodes: JSON.stringify(speciesCodes)
  };

  $.post('/remove_faves',
    data,
    refreshPage);
}

$('#delFave').on('click', removeFaves);

</script>

<br>
<br>


{% endblock %}
