{% extends 'base.html' %}

{% block title %}User Feed{% endblock %}

{% block content %}


<h1>My Feed</h1>
<h2>User ID: {{ user.user_id }}</h2>

{% if user.image_name %}

    <img class="user_pic" src="/static/user_pics/{{user.image_name}}"></img>

{% else %}

    <img class="user_pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0exBi6zdo2_NSyPhtPeaz6VTxwwlabc1P-BlbAQz90L8VWvYhjQ"></img>

{% endif %} 

<br>

<form action="/upload" method="POST" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        Browse: <input type="file" name="upload-image">
      </span>
    <br>  
    <input type="submit" value="Submit" class="btn btn-primary">
</form>

<br>
<form action="/user_settings">
    <input type="submit" value="Edit Settings" />
</form>
<br>
<br>
<p>First Name: {{ user.fname }} 
<br>    
Last Name: {{ user.lname }} 
<br>
Email: {{ user.email }}</p>



{{ user.fname }}'s Favorites!
<br>

{% for favorite in user.favorites %}

    <br>
    <input type="checkbox" name="remove_bird" data-com-name="{{ favorite.bird.common_name }}" data-sci-name="{{ favorite.bird.scientific_name }}" data-species-code="{{ favorite.bird.species_code }}">
    {{ favorite.bird.common_name }}
    <br>
    <img class='display-bird-pic' src={{ favorite.bird.image }}></img>
    <br>

{% endfor %}

<br>
<button id='delFave'>Remove</button>
<br>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script>
  "use strict";

function refreshPage() {
  window.location.reload();
}

function removeFaves(evt) {
  console.log("I pressed the 'remove' button")
  // send info: bird id and user id - to remove row from faves

  // for any values that are checked... 
  let checkboxes = $('input[name="remove_bird"]:checked');
  let speciesCodes = checkboxes.map(function(index, checkbox) {
    return checkbox.dataset.speciesCode;
  });
  
  speciesCodes = speciesCodes.toArray();
  let data = {
    speciesCodes: JSON.stringify(speciesCodes)
  };

  $.post('/remove_faves',
    data,
    refreshPage);
}

$('#delFave').on('click', removeFaves);

</script>

<br>
<br>


{% endblock %}
