{% extends 'base.html' %}

{% block title %}User Feed{% endblock %}

{% block content %}


<h1>My Feed</h1>
<h2>User ID: {{ user.user_id }}</h2>

{% if user.image_name %}

    <img class="user_pic" src="/static/user_pics/{{user.image_name}}"></img>

{% else %}

    <img class="user_pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0exBi6zdo2_NSyPhtPeaz6VTxwwlabc1P-BlbAQz90L8VWvYhjQ"></img>

{% endif %} 

<br>

<form action="/upload" method="POST" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        Browse: <input type="file" name="upload-image">
      </span>
    <br>  
    <input type="submit" value="Submit" class="btn btn-primary">
</form>

<br>

<p>First Name: {{ user.fname }} 
<br>    
Last Name: {{ user.lname }} 
<br>
Email: {{ user.email }}</p>



{{ user.fname }}'s Favorites!
<br>

{% for favorite in user.favorites %}
    <br>
    <input type="checkbox" name="remove_bird" value="bird_to_remove">
    {{ favorite.bird.common_name }}
{% endfor %}

<br>
<br>
Bird things:

<p>BotD</p>


{% endblock %}
