{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="header">Registration Page</h1>
                    <br>
                    <form action='/register', method='POST'>
                        <div class='register-field'>First Name (max 16 chars): </div>
                        <input type='text' name='reg-fname'>
                        <br>
                        <div class='register-field'>Last Name (max 16 chars): </div>
                        <input type='text' name='reg-lname'>
                        <br>
                        <div class='register-field'>Email: </div>
                        <input type='text' name='reg-email'>
                        <br>
                        <div class='register-field'>Username (must be alphanumeric): </div>
                        <input type='text' name='reg-username'>
                        <br>
                        <div class='register-field'>Password: </div>
                        <input type='password' name='reg-pw'>
                        <br>
                        <br>
                        <input class='sub-btn' type='submit'>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}