{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1 class='title-top-bp'>Users List</h1>

</head>
<body>

  <form action='/get_user_id'>  
    <input type="text" id="search-user" class='search-bar' placeholder="Search for a user..">
    <input type="submit" value="Search" id="search-username">
  </form>

<br>  
</div>

<br>

    {% for user in users %}
     <li class='bullet-list'>
        <a href="/users/{{ user.user_id }}">
            
          {{ user.username }}</a> ({{ user.fname }})
        
     </li>
    {% endfor %}



<script>
  "use strict";
  // make get request to specific form for information 
  // Pass information to back end method

// function showUser(results) {


// }  



function sendUserInfo(evt) {
    evt.preventDefault();
    let searchString = {'searchFor': $('#search-user').val()};
    console.log(searchString)
    $.get('/get_user_id', searchString);
}

$('#search-username').on('click', sendUserInfo)

</script>



<!-- ID for event listeners or classes for style  -->

{% endblock %}