{% extends 'base.html' %}

{% block title %}User Settings{% endblock %}

{% block content %}


<h1>Edit User Settings</h1>
<h2>User ID: {{ user.user_id }}</h2>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0exBi6zdo2_NSyPhtPeaz6VTxwwlabc1P-BlbAQz90L8VWvYhjQ"></img>
<br>
<p>** Add button for image uploader here ** </p>

<form action="/upload" method="POST" enctype="images/upload_user_pics" >
    <span class="btn btn-default btn-file">
        <input type="file" name="upload-image">
    </span>
    <br>  
    <input type="submit" value="Submit" class="btn btn-primary">
</form>

<br>

Username: 
<br>
<input type='text' name='new_username' value='{{ user.username }}'>
<br>
<br>    
First Name: 
<br>
<input type='text' name='new_fname' value='{{ user.fname }}'>
<br>
<br>    
Last Name: 
<br>
<input type='text' name='new_lname' value='{{ user.lname }}'>
<br>
<br>
Email:
<br>
<input type='text' name='new_email' value='{{ user.email }}'>

<br>
<br>
<input type='text' name='new_username'>
<input type='password' name='new_pw'>
<input type='text' name='new_email'>

<br>
<input type="submit" value="Submit Changes" class="settings-update">
{% endblock %}
