{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Profile{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1 class='title-user'>{{ user.username}} ({{ user.fname }})</h1>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>

   
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">  
                    
                    {% if user.image_name %}

                        <img class="user-pic-pub" src="/static/user_pics/{{user.image_name}}"></img>

                    {% else %}

                        <img class="user-pic" src="/static/user_pics/generic_silhouette.png"></img>
                        
                    {% endif %} 
                    <br>
                    <br>
                    {% if user.description %}
                    <div class='desc-profile'>{{ user.description }}</div>
                    {% endif %}
                    <br>
                </div>
                <div class="col-md-9">
                    {% if user.favorites: %}

                        {{ user.fname }}'s Favorites:
                        <br>
                        {% for favorite in user.favorites %}
                     
                            <img class=".pub-fave-img" height='200px' width='300px' overflow='hidden' border-radius='25px' src="{{ favorite.bird.image }}"></img>
                       

                        {% endfor %}
                    
                    {% else %}

                        This user currently has no favorites!

                    {% endif %}
                </div>
            </div>
        </div>
</div>


<br>
<br>
<br>
<br>
<br>
<script>
  "use strict";

// function followUnfollow(evt) {
//   var followButton = document.querySelector('.followIcon');
//   if (followButton.innerHTML === 'Follow') {
//     followButton.innerHTML = 'Unfollow';
//   }
//   else {
//     followButton.innerHTML = 'Follow';
//   }
// }

// followButton.addEventListener('click', followUnfollow);

</script>

<!-- <button id='followAndUnfollow' class='followIcon' onclick='followUnfollow()'>Follow</button> -->


{% endblock %}