{% extends 'base.html' %}

{% block title %}Oops!{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>Oops! You can't access this page without being logged in.</h2>
                    <br>
                    <a href="/register">Create an account!</a>  

                    <br>
                    <a href="/">Go back to the homepage to log in!</a>  

                    <br>
                    <a href="/map">Look for birds with our interactive map!</a>  
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
